{%extends "layout_navi.html"%}
{% block style %}
#other_people {
    text-decoration: line-through;
}
{% endblock %}

{%block content%}


<main class="other_people container">
    {% if exquestion%}
  <p class="today__question">Additional Question<br>
      <span lang="ko">{{ exquestion }}</span>
  </p>
  <div class="about pb-2"><a href="{% url "qna:other_people" %}">About Today's Question</a></div>

<div class="row justify-content-center">
  <div class="card-columns mx-3">
  {% for answer in other_answer %}
  <div class="card p-3 mr-3 mb-3">
      <blockquote class="card-block card-blockquote">
        <article class="card__body">
          <p lang="ko">{{answer.content|linebreaksbr}}</p>
        </article>
        <footer>
          <small class="text-muted" lang="ko">
            {% if answer.user %}
              {{ answer.user.profile.nickname }}
            {% else %}
              익명
            {% endif %}
          </small>
        </footer>
      </blockquote>
  </div>

{% empty %}
  아직 등록된 대답이 없습니다.
{% endfor %}
</div>
</div>

{% if other_answer.has_other_pages %}
<div class="row justify-content-center pagination">
    <ul class="pagination">
        {% if other_answer.has_previous %}
            <a href="?page={{ other_answer.previous_page_number }}"></a>
        {% else %}
            <span class="disabled"></span>
        {% endif %}
        {% for i in other_answer.paginator.page_range %}
            {% if other_answer.number == i %}
                <span class="active">{{ i }} <span class="sr-only"></span></span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if other_answer.has_next %}
            <a href="?page={{ other_answer.next_page_number }}"></a>
        {% else %}
            <span class="disabled"></span>
        {% endif %}

    </ul>
</div>
{% endif %}
{% endif %}


    {%if not exquestion %}
    <p class="today__question">Additional Question<br>
    <span lang="ko">오늘은 추가질문이 없습니다.</span>
    <span lang="ko">명언을 보면서 하루를 되돌아 보세요.</span></p>

<div class="row">
  <div class="card-columns mx-3">
  {% for answer in answer_set %}
  <div class="card p-3 mr-3 mb-3">
      <blockquote class="card-block card-blockquote">
        <article class="card__body">
          <p lang="ko">{{answer.content|linebreaksbr}}</p>
        </article>
        <footer>
          <small class="text-muted" lang="ko">
            {% if answer.user %}
              {{ answer.user.profile.nickname }}
            {% else %}
              익명
            {% endif %}
          </small>
        </footer>
      </blockquote>
  </div>

  {% endfor %}
</div>
</div>
{% endif %}



 </main>
{%endblock%}

<!DOCTYPE html>
<html>
<head>
    <title>exqna:other_people</title>
</head>
<body>
{% if exquestion %}
    <h2><strong>Additional Question</strong> {{ exquestion }}</h2>
    {% for oa in other_answer %}
        <p>{{ oa.content }} <br>
            {{ oa.user.profile.nickname }}</p>
    {% empty %}
        아직 등록된 대답이 없습니다
    {% endfor %}
{% endif %}
<br><br>
<a href="{% url "qna:main" %}"><input type="button" value="메인으로"></a>


{{ other_answer }}
{% if other_answer.has_other_pages %}

    <ul class="pagination">
        {% if other_answer.has_previous %}
            <a href="?page={{ other_answer.previous_page_number }}">&laquo;</a>
        {% else %}
            <span class="disabled">&laquo;</span>
        {% endif %}
        {% for i in other_answer.paginator.page_range %}
            {% if other_answer.number == i %}
                <span class="active">{{ i }} <span class="sr-only"></span></span>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if other_answer.has_next %}
            <a href="?page={{ other_answer.next_page_number }}">&raquo;</a>
        {% else %}
            <span class="disabled">&raquo;</span>
        {% endif %}

    </ul>

{% endif %}


</body>
</html>