<!-- exqna/template/exqna/question.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no" />
    <title>추가질문</title>
</head>
<body>
    <h1>dongil</h1>
    <p>안녕하세요, 류동일의 첫 번째 웹애플리케이션 프로젝트입니다 :)</p>
    <h2>오늘의 추가 질문: {{ question }}</h2>

    <form action=" " method="get">
        <input type="text" name="q">
        <input type="submit" value="넘어가기">
        <input type="submit" value="제출">
    </form>

</body>
</html>