{% extends "diary/layout_navi.html" %}
{% block style %}
<style type="text/css">
    #my_diary {
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <p class="diary__date" lang="ko">
            {{ month }}월 {{ day }}일 {{ week_day }}
    </p>
    <div class="search_diary about pb-2">
        <a href="{% url "diary:diary_search_title" %}">Search Diary</a>
    </div>

    <div class="row">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message.message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% for di in diary %}
            <div class="card diary col-10 col-sm-6 col-md-4 push-1 push-sm-0 px-3 my-3">
               <div class="diary__contents px-3 ">
                    <p class="diary__title" lang="ko">
                        #{{ di.title }}</p>
                    <p class="diary__">
                        {{ di.content|linebreaksbr }}</p>
                   <a href="{% url 'diary:diary_edit' di.pk %}">수정</a>
                   <a href="{% url 'diary:diary_delete' di.pk %}">삭제</a>
                </div>
                    <p class="diary__body" lang="ko">
                        {{ di.content }}</p>
                </div></a>

            </div>
        {% endfor %}
        <div class="card diary col-10 col-sm-6 col-md-4 push-1 push-sm-0 px-3 my-3">
            <div class="diary__contents new__diary px-3">
                <a href="{% url "diary:diary_new" %}" class="plus">
                    +
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}