{% extends "layout_search_diary.html" %}
{% block active__button %}
내용으로 찾아보기
{% endblock %}

{% block search_type %}
<input type="textarea" class="form-control" id="exampleTextarea" rows="1" name="search_content" value="{{search_content}}"/>
{% endblock %}


{% block search %}
    <div class="row">
        {% for diary in searched_content %}
            <div class="card diary col-10 col-sm-6 col-md-4 push-1 push-sm-0 px-3 my-3">
               <div class="diary__contents px-3" style="background-color: rgba(150, 70, 10, {% cycle 0.2 0.3 0.4 0.5 0.6 0.7 %})">
                    <div class="diary__box">
                        <p class="diary__title" lang="ko">
                            #{{ diary.title }}</p>
                        <p class="diary__body" lang="ko">
                            {{ diary.content }}</p>
                    </div>

                    <div class="diary__app main__card__button">
                        <p lang="ko">{{ diary.created_at.year }}년
                                     {{ diary.created_at.month }}월
                                     {{ diary.created_at.day }}일 </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {% if searched_content.has_other_pages %}
        <div class="row justify-content-center pagination">
            <ul class="pagination">
                {% if searched_content.has_previous %}
                    <a href="?page={{ searched_content.previous_page_number }}"></a>
                {% else %}
                    <span class="disabled"></span>
                {% endif %}
                {% for i in searched_content.paginator.page_range %}
                    {% if searched_content.number == i %}
                        <span class="active">{{ i }} <span class="sr-only"></span></span>
                    {% else %}
                        <a href="?search_content={{ search_content }}&page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if searched_content.has_next %}
                    <a href="?search_content={{ search_content }}&&page={{ searched_content.next_page_number }}"></a>
                {% else %}
                    <span class="disabled"></span>
                {% endif %}

            </ul>
        </div>
    {% endif %}


{% endblock %}







