{% load socialaccount %}
{% load static %}

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<link rel="stylesheet" href="{% static "accounts/css/accounts.css" %}">


{% block content %}



    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="로그인"/>
        <a href="{% url "accounts:signup" %}"><input type="button" value="회원가입"/></a>
    </form>
    <h3>Social Login</h3>
    <ul>
        {% for provider in providers %}
            <li>
                {% if provider.social_app %}
                    <a href="{% provider_login_url provider.id %}">
                        {{ provider.name }}
                    </a>
                {% else %}
                    <a>
                        Provider {{ provider.name }} 설정이 필요합니다.
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a id="kakao-login-btn"></a>
    <a href="http://developers.kakao.com/logout"></a>



    <script src="{% static "accounts/js/accounts.js" %}"></script>
{% endblock %}