{% extends "layout.html" %}
{% block content %}
{% load socialaccount %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="form-title sign-in">Sign In</p>
    <form action="" method="post" class="login">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}

        <!-- hidden fields는 위젯만 렌더링 -->
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Sign In" class="btn btn-success bg-success" />
        <div class="remember-forgot">
               <div class="row">
                  <div class="col-md-8">
                       <div class="checkbox">
                         <label>
                               <input type="checkbox" />
                              Remember Me
                        </label>
                     </div>
                  </div>
              </div>
        </div>
        <a class="btn btn-success bg-success" href="{% url "accounts:signup" %}">SIGN UP</a>
        <a class="btn btn-success bg-success" href="{%url "accounts:reset"%}">FORGOT PASSWORD</a>

    </form>
    <h3>Social Login</h3>
    <ul>
        {% for provider in providers %}
            <li>
                {% if provider.social_app %}
                    <a href="{% provider_login_url provider.id %}">
                        {{ provider.name }}
                    </a>
                {% else %}
                    <a>
                        Provider {{ provider.name }} 설정이 필요합니다.
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
