{% extends "layout_navi.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "accounts/css/profile.css" %}">
<script src="{% static 'accounts/js/profile.js' %}"></script>

<link rel="stylesheet" href="../../static/css/profile.css">
<scirpt src="../../static/js/profile.js"></scirpt>



    <div class="profile-card">
        <div class="profile-cover">
            <div class="profile-avatar">
                        {% if user.profile.img.url %}
                            <img src="{{ user.profile.img.url }}" />
                        {% else %}
                            <img src="{% static 'joy.jpeg' %}" >
                        {% endif %}
            </div>
            <div class="profile-details">
                <div style="font-size: 1.5rem"> {{ user.name }} </div>
                <div> {{ user.email }}</div>
            </div>
        </div>


        <div class="profile-content">
            <ul>
                <li>
                    <div class="digits">{{ answer.count }}</div>
                    답변
                </li>
                <li>
                    <div class="digits">{{ answer_public }}</div>
                    공개답변
                </li>
                <li>
                    <div class="digits">{{ ex_answer.count }}</div>
                    추가답변
                </li>
                <li>
                    <div class="digits">{{ ex_answer_public }}</div>
                    추가질문답변
                </li>
                <li>
                    <div class="digits"><a href="{% url 'profile_edit' %}">프로필</a></div>
                    변경
                </li>

            </ul>
            <div class="clear"></div>
        </div>
    </div>


{% endblock %}