<h1>{{ user.profile.nickname }}'s profile</h1>

<ul>


    <li>image :
        <!--<img src="{{ user.profile.img.url }}">-->
        <!--<img src="{{ user.profile.img }}">-->




    </li>
    <li>email : {{ user.profile.email }}</li>
    <li>이름 : {{user.profile.name}}</li>
    <li>nickname : {{user.profile.nickname}}</li>
    <li>가입일 : {{ user.date_joined }}</li>
</ul>

<a href="{%url "qna:main"%}"><input type="button" value="메인으로"></a>
{%if not user.socialaccount_set.all.first.get_avatar_url%}
<a href="{%url "accounts:edit_pw"%}"><input type="button" value="비번 변경"></a>
{%endif%}
