{% extends "layout_navi.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="form-title sign-in input__profile">
                your profile
            </p>
                <form action="" method="post" class="login input__profile" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}

                        <!-- hidden fields는 위젯만 렌더링 -->
                        {% for field in form.hidden_fields %}
                          {{ field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}


                        <input type="submit" value="제출하기" class="btn btn-success bg-success" />
                </form>
        <a href="{% url "edit_pw" %}"><input type="button" value="비밀번호 변경" class="btn btn-success bg-success"></a>
        </div>
    </div>
</div>
{%endblock%}