{%extends 'layout.html'%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="form-title sign-in input__profile">
                your profile
            </p>
                <form action="" method="post" class="login input__profile">
                        {% csrf_token %}

                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}

                        <!-- hidden fields는 위젯만 렌더링 -->
                        {% for field in form.hidden_fields %}
                          {{ field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}


                        <input type="submit" value="제출하기" class="btn btn-success bg-success" />
                </form>
        </div>
    </div>
</div>
{%endblock%}
