{% extends "layout_navi.html"%}

{% block content %}
<main>
    <div class="container">
        <p class="today__question">Today's Question<br>
        <span lang="ko">{{ question }}</span></p>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message.message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


<div class="row">
{% for answer in answer_list %}
{% if forloop.first %}
<div id="accordion" role="tablist" aria-multiselectable="true" class="col-12">
    <div class="card">
      <div class="card-header" role="tab" id="{{answer.id}}id">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#kk{{answer.id}}" aria-expanded="true" aria-controls="kk{{answer.id}}">
            Year {{ answer.created_at |date:"Y" }}
          </a>
        </h5>
      </div>

      <div id="kk{{answer.id}}" class="collapse show" role="tabpanel" aria-labelledby="{{answer.id}}id">
        <div class="card-block" lang="ko">
          {{ answer.content }}
        </div>
        <div class="main__card__button">
          <a id="edit_button" class="mx-3" lang="ko" href="{% url "qna:question_edit" answer.id %}">수정</a>
        </div>
      </div>
    </div>
{% else %}
    <div class="card">
      <div class="card-header" role="tab" id="{{answer.id}}id">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kk{{answer.id}}" aria-expanded="false" aria-controls="kk{{answer.id}}">
            Year {{ answer.created_at |date:"Y" }}
          </a>
        </h5>
      </div>

      <div id="kk{{answer.id}}" class="collapse" role="tabpanel" aria-labelledby="{{answer.id}}id">
        <div class="card-block" lang="ko">
          {{ answer.content }}
        </div>
        <div class="main__card__button">
          <a class="mx-3" lang="ko" href="{% url "qna:question_edit" answer.id %}">수정</a>
        </div>
      </div>
    </div>
{% endif %}
{% endfor %}


{%if ex_answer %}
    <div class="card">
      <div class="card-header" role="tab" id="{{ex_answer.id}}dk">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kk{{ ex_answer.id }}" aria-expanded="false" aria-controls="kk{{ ex_answer.id }}" lang="ko">
            추가질문: {{ exquestion }}
          </a>
        </h5>
      </div>

      <div id="kk{{ ex_answer.id }}" class="collapse" role="tabpanel" aria-labelledby="{{ex_answer.id}}dk">
        <div class="card-block" lang="ko">
          {{ ex_answer.content }}
        </div>
        <div class="main__card__button">
          <a class="mx-3" lang="ko" href="{% url "exqna:exquestion_edit" ex_answer.id %}">수정</a>
        </div>
      </div>
    </div>
{%endif%}
    </div>
</div>




{% if form %}
          <form action="" method="POST">
              {% csrf_token %}

        <!-- hidden fields는 위젯만 렌더링 -->
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}

    <div class="row">
      <div class="form-group answer__form main__part col-12 col-sm-8 col-lg-6 push-sm-4 push-lg-6">
                <label class="question" for="exampleTextarea" lang="ko">
                      <span lang="ko" class="extra-question">오늘의 추가 질문 :</span> <br> {{ exquestion }}
                </label>
            <textarea class="form-control" id="exampleTextarea" rows="1" name="content">{{ form.content | striptags }}</textarea>
            <span class="form__errors" lang="ko">{{ form.content.errors }}</span>
            </div>
        </div>

        <div class="row">
            <div class="submit__answer col-12 col-sm-8 col-lg-6 push-sm-4 push-lg-6">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="is_public"
                    {% if form.is_public|make_list|length >= 78 %}
                    checked="checked"
                    {% endif %}
                    />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">공유하기</span>
                </label>
                <input type="submit" value="제출하기" name="ex_answer" class="btn btn-success bg-success" />
            </div>
        </div>
</form>
 {% endif %}


</div>
</main>{%endblock%}


