{%extends "layout_navi.html"%}
{% block style %}
#other_people {
    text-decoration: line-through;
}
{% endblock %}

{%block content%}
<main class="other_people container">
<p class="today__question">Today's Question<br>
    <span lang="ko">{{ question }}</span></p>
    <div class="about pb-2"><a href="{% url "exqna:other_people" %}">About Additional Question</a></div>

<div class="row justify-content-center">
  <div class="card-columns mx-3">
  {% for answer in other_answer %}
  <div class="card p-3 mr-3 mb-3">
      <blockquote class="card-block card-blockquote">
        <article class="card__body">
          <p lang="ko">{{answer.content|linebreaksbr}}</p>
        </article>
        <footer>
          <small class="text-muted" lang="ko">
            {% if answer.user %}
              {{ answer.user.profile.nickname }}
            {% else %}
              익명
            {% endif %}
          </small>
        </footer>
      </blockquote>
  </div>

{% empty %}
  아직 등록된 대답이 없습니다.
{% endfor %}

</div>
</div>

{% if other_answer.has_other_pages %}
<div class="row justify-content-center pagination">
        <ul class="pagination">
            {% if other_answer.has_previous %}
                <a href="?page={{ other_answer.previous_page_number }}"></a>
            {% else %}
                <span class="disabled"></span>
            {% endif %}
            {% for i in other_answer.paginator.page_range %}
                {% if other_answer.number == i %}
                    <span class="active">{{ i }} <span class="sr-only"></span></span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if other_answer.has_next %}
                <a href="?page={{ other_answer.next_page_number }}"></a>
            {% else %}
                <span class="disabled"></span>
            {% endif %}

        </ul>
</div>
{% endif %}

</main>
{%endblock%}

<!DOCTYPE html>
<html>
<head>
    <title>qna:other_people</title>
</head>
<body>

    {% for oa in other_answer %}
        <p>{{ oa.content }} <br>
        {{ oa.user.profile.nickname }}</p>
    {% empty %}
        아직 등록된 대답이 없습니다
    {% endfor %}
    <br><br>
    <a href="{%url "qna:main" %}"><input type="button" value="메인으로"></a>
    <br><br>
<a href="{%url "exqna:other_people" %}"><input type="button" value="추가질문에 대한 다른 사람의 답변"></a>

    {{ other_answer }}
    {% if other_answer.has_other_pages %}

        <ul class="pagination">
            {% if other_answer.has_previous %}
                <a href="?page={{ other_answer.previous_page_number }}">&laquo;</a>
            {% else %}
                <span class="disabled">&laquo;</span>
            {% endif %}
            {% for i in other_answer.paginator.page_range %}
                {% if other_answer.number == i %}
                    <span class="active">{{ i }} <span class="sr-only"></span></span>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if other_answer.has_next %}
                <a href="?page={{ other_answer.next_page_number }}">&raquo;</a>
            {% else %}
                <span class="disabled">&raquo;</span>
            {% endif %}

        </ul>

    {% endif %}

</body>
</html>





<!DOCTYPE html>
<html>
<head>
    <title>qna:other_people</title>
</head>
<body>
    <h2><strong>Today's Question</strong> {{ question }}</h2>
    {% for answer in answer_set %}
         <p>
                {{ answer.content }} <br>
                {{ answer.user }}
        </p>
    {% empty %}
        아직 등록된 대답이 없습니다.
    {% endfor %}
    <br><br>
    <a href="{%url "qna:main" %}"><input type="button" value="메인으로"></a>
    <br><br>
<a href="{%url "exqna:other_people" %}"><input type="button" value="추가질문에 대한 다른 사람의 답변"></a>
</body>
</html>