<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">
<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker( {
        changeYear: false,
        changeMonth: true,
        changeDay : true,
        showButtonPanel: true,
        dateFormat: 'MM dd',
        onClose: function(dateText, inst) {
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var day = $("#ui-datepicker-div .ui-datepicker-day :selected").val();
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth,inst.selectedDay,));
        }
    });
});
</script>
<style>
.ui-datepicker-year{
    display:none;
}
</style>
</head>


<body>
    <div>
        <form action="" method='get'>
    <input type='text 'name="search_day" id="startDate" class="date-picker" />
            <input type="submit" value="검색">
        </form>
    </div>
    <div>
    <br><br>

        {%if search_ques1%}
    {% for question in search_ques1 %}
        <ul>
        <li>
            <a href="{% url "qna:question_detail" question.id%}">
            {{question.month}}월
            {{question.day}}일
            {{question.question}}
            <!--데이터베이스에 month,day입력해서 불러옴-->
            </a>
        </li>
        </ul>
        {% endfor %}
        {%endif%}


    {%if search_ques2%}
    {% for exquestion in search_ques2 %}
        <ul>
        <li>
            추가질문
            <a href="{% url "exqna:exquestion_detail" exquestion.id %}">
            {{exquestion.question}}
            </a>
            <small> at {{exquestion.updated_at}}</small>
        </li>
        </ul>
    {% endfor %}
    {%endif%}

<div>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                {{ message.message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>

        <hr>
        <a href="{% url "qna:main" %}"><input type="button" value="메인으로"></a><br>
</div>
</body>
</html>