<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        질문 검색
        <form action="" method='get'>
            <input type="textarea" name="search" value="{{search}}">
            <input type="submit" value="검색">
        </form>
    </div>
    <div>
    <br><br>
{%if search_ques1%}
    <ul>
    {% for question in search_ques1 %}
        <li>
            <a href="{% url "qna:question_detail" question.id%}">
            {{question.question}}
            </a>
        </li>
    {% endfor %}
    </ul>
{%else%}
    <p>검색해봐여</p>
{%endif%}

{%if search_ques2%}
    <ul>
    {% for exquestion in search_ques2 %}
        <li>
            추가질문
            <a href="{% url "exqna:exquestion_detail" exquestion.id %}">
            {{exquestion.question}}
            </a>
            <small> at {{exquestion.updated_at}}</small>
        </li>
    {% endfor %}
    </ul>
{%else%}
    <p>검색해봐여</p>
{%endif%}

</div>
</body>
</html>