<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        질문 검색
        <form action="" method='get'>
            <input type="textarea" name="search_keyword" value="{{search}}">
            <input type="submit" value="검색">
        </form>

    </div>
    <div>
    <br><br>

    <ul>
    {% for question in search_ques1 %}
        <li>
            <a href="{% url "qna:question_detail" question.id%}">
            {{question.month}}월
            {{question.day}}일
            {{question.question}}
            <!--데이터베이스에 month,day입력해서 불러옴-->
            </a>
        </li>
    </ul>

        {% endfor %}

{%if search_ques2%}
    <ul>
    {% for exquestion in search_ques2 %}
        <li>
            추가질문
            <a href="{% url "exqna:exquestion_detail" exquestion.id %}">
            {{exquestion.question}}
            </a>
            <small> at {{exquestion.updated_at}}</small>
        </li>
    {% endfor %}
    </ul>

{%endif%}
        <hr>
        <a href="{% url "qna:main" %}"><input type="button" value="메인으로"></a><br>
</div>
</body>
</html>