{% extends "layout_navi.html"%}
{% block content %}
<main>

{% for answer in answer_set %}
{% if forloop.first %}
    <div class="container">
        <p class="today__question" lang="ko">
            {{ answer.question.month }}월
            {{ answer.question.day }}일<br>
            <span lang="ko">
            {{ answer.question }}</span></p>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message.message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="col-12">
                <div class="card">
                  <div class="card-header" role="tab" id="{{answer.id}}id">
                    <h5 class="mb-0">
                      <a data-toggle="collapse" data-parent="#accordion" href="#kk{{answer.id}}" aria-expanded="true" aria-controls="kk{{answer.id}}">
                        Year {{ answer.created_at |date:"Y" }}
                      </a>
                    </h5>
                  </div>

                  <div id="kk{{answer.id}}" class="collapse show" role="tabpanel" aria-labelledby="{{answer.id}}id">
                    <div class="card-block" lang="ko">
                      {{ answer.content }}
                    </div>
                  </div>
                </div>
{% else %}
                <div class="card">
                  <div class="card-header" role="tab" id="{{answer.id}}id">
                    <h5 class="mb-0">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kk{{answer.id}}" aria-expanded="false" aria-controls="kk{{answer.id}}">
                        Year {{ answer.created_at |date:"Y" }}
                      </a>
                    </h5>
                  </div>

                  <div id="kk{{answer.id}}" class="collapse" role="tabpanel" aria-labelledby="{{answer.id}}id">
                    <div class="card-block" lang="ko">
                      {{ answer.content }}
                    </div>
                  </div>
                </div>
{% endif %}
{% endfor %}

{%endblock%}
