{% extends "layout_search_answer.html" %}

{% block extra_script %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
                changeYear: false,
                changeMonth: true,
                changeDay : true,
                showButtonPanel: true,
                dateFormat: 'MM dd',
                onClose: function(dateText, inst) {
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var day = $("#ui-datepicker-div .ui-datepicker-day :selected").val();
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth,inst.selectedDay,));
                }
            });
        });
    </script>
    <style>
    .ui-datepicker-year{
        display:none;
    }
    </style>
{% endblock %}

{% block active__button %}
    날짜로 찾아보기
{% endblock %}

{% block search_type %}
    <input type='textarea' name="search_day" id="startDate" rows="1" class="date-picker form-control" value="{{search_day}}"/>
{% endblock %}