<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title lang="en">Q:AM</title>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- bootstrap css -->
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <!-- my custom css -->
     {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>
</head>
<body>

  <header>
    <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler navbar-toggler-right mt-4" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span>Menu</span>
      </button>
      <a class="navbar-brand pb-4" href="{%url "qna:main"%}">Q:AM</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="other_people" class="nav-link px-4" href="{%url "qna:other_people" %}">Other People</a>
          </li>
          <li class="nav-item">
            <a id="my_diary" class="nav-link px-4" href="{%url "diary:diary_list" %}">My Diary</a>
          </li>
          <li class="nav-item">
            <a id="search_previous" class="nav-link px-4" href="{%url "qna:question_search"%}">Search Previous</a>
          </li>
          <li class="nav-item">
            <a id="suggest_question" class="nav-link px-4" href="{%url "exqna:required" %}">Suggest Question</a>
          </li>
        </ul>
          <a id="Log Out" class="nav-item-last nav-link px-lg-3" href="{% url "logout"%}?next={{request.path}}">Log Out</a>

        <a id="my_information" class="nav-item-last nav-link px-lg-3" href="{%url "profile"%}"><i class="fa fa-user-circle" aria-hidden="true"></i> My Information</a>
      </div>
    </nav>
  </header>

{% block content %}
{% endblock %}

<!-- bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"   integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

{% load static %}
<script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>

{% load static %}
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>